<ion-header>
  <ion-toolbar>
    <ion-title>
     Créer utilisateur
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
  	<ion-input placeholder="Entrer Nom"></ion-input>
  	<ion-input placeholder="Entrer Prenom"></ion-input>
  	<ion-button>Générer</ion-button>
  	<ion-label>Nom et prénom</ion-label>
  	<ion-label></ion-label>
   <ion-button>Envoyer</ion-button>

  </div>
</ion-content>
